body {
    /*background-image: url("img/back.png");*/
    background-image: url("https://media.giphy.com/media/3bc8pP1rVdfgN1uoMV/giphy.gif");
    background-size: 100%;
}
a {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color: white;
}
.header {
    overflow: hidden; /*Видимость вылезших элементов*/
    background: #162477;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 120px;
    /*text-align: right;*/
}
#logo{
    margin: 0px;
    height: 0px;
}
#logoimg{
    float: left;
    height: 100px;
    width: 100px;
    margin: 10px 20px;

}
#info {
    /*text-align: center;*/
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0px 10px 0px;
    float: right;
}
.main {
    overflow: auto;
    margin: 120px auto 0px;
    padding: 10px 15px 1px;
    display: block;
    background: rgb(64, 102, 184);
    color: #ffffff;
    width: 800px;
    height: 100%;
    font-family: "Arial", sans-serif;
    font-style: normal;
}
.china{
    font-family: "AR PL UKai CN";

}
.pineapple{
    display: block;
    float: left;
}


.link{
    font-size: 30px;
    font-family: "Ubuntu Light", SansSerif;
}
#yIn{
    border-color: rgb(64, 102, 184);
    background-color: #1f318d;
}


h1{
    margin: 10px;
    color: white;
    font-size: 22px;
}
h2 {
    color: white;
    font-size: 100%;
    font-style: normal;
    font-family: sans-serif;
    text-align: left;
    margin: 20px 10px 5px;
}

.warn-checkbox {
    margin: 0px 0px 0px 10px;
    color: red;
}
.warn-text {
    border-color: red;
}

iframe {
    border-width: 0px;
    width: 100%;
    height: 270px;
}

input{
    color: black;
    margin: 0px 10px 3px;
}


/*BUTTONS styles*/
.button {
    font-family: cursive;
    font-size: 20px;
    color: black;
    border-color: #698ff5;
    border-style: solid;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e4ad5), to(#6fa1ff));
}
.button:hover:enabled {
    color: black;
    border-color: #5177cf;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e4ad5), to(#1f318d));
}
.button:disabled {
    border-color: rgba(33, 44, 90, 0.82);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(31, 49, 141, 0.76)), to(rgba(50, 79, 227, 0.68)));
    color: grey;
}
.button.in-button{
    width: 32px;
    margin: 0px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.4s;
}
.button.submit-button{
    margin: 15px 5px 5px 70px;
    border-radius: 10px;
}
.button.history-button{
    margin-top: 0;
    margin-bottom: 10px;
    border-radius: 10px;
}
#submit {
    margin: 15px 5px 0px 70px;
}

.button-div{
    margin: 0px 0px 0px 10px;
}
.main canvas {
    float: right;
    margin-right: 150px;
}
#result-table{
    border-collapse: collapse;
    border: solid 4px #ffffff;
    padding: 0;
    font-size: 15px;
    color: white;
    margin: 0px 10px;
}
#result-table td, #result-table th{
    border: solid 2px #ffffff;
    text-align: center;
}
#result-table th{

    border-bottom: 2px solid #ffffff;
    padding-left: 2px;
    padding-right: 4px;
}


